@model IEnumerable<WeddingViewModel>

@{
    ViewData["Title"] = "";
}
<br />
<h1></h1>

<form class="form-group container" return false;">

    <input type="text" class="form-control" id="name" placeholder="請輸入姓名" style="width: 50%;margin: 0 auto;"/>
    <br />
    <br />
    <input type="button" onclick="sub()" style="width:10%" class="btn btn-default center-block" value="查詢"/>
    <br />
    <div class="container">
        <table class="table" style="display:none;" id="records_table">
            <thead>
                <tr>
                    <th style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Accompanied)
                    </th>
                    <th style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Seat)
                    </th>
                    <th style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Relationship)
                    </th>
                    <th style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>

            </tbody>
        </table>
    </div>
</form>


<script>
    

    function sub() {
        
        var name = document.getElementById("name").value;

        var url = window.location.origin + "\\Wedding\\Submit";
        $.ajax({
            url: url,
            method: "post",
            data: { name: name },
            success: function (response) {
                var c = [];
                $("#records_table tbody").html('');
                $("#records_table").show();
                $.each(response, function (i, item) {
                    c.push("<tr><td class='name' style='font-size:20px'>" + item.name + "</td>");
                    c.push("<td class='accompanied' style='font-size:20px'>" + item.accompanied + "</td>");
                    c.push("<td class='seat' style='font-size:20px'>" + item.seat + "</td>");
                    c.push("<td class='relationship' style='font-size:20px'>" + item.relationship + "</td>");
                    c.push("<td class='note' style='font-size:20px'>" + item.note + "</td>");
                    c.push("<td class='sn' style='display:none;'>" + item.sn + "</td>");
                    if (item.accompanied > 1 && item.checkin == 0) {
                        c.push("<td><input type='button' class='btn btn-primary center-block checkinone' value='簽到一人'></td>");
                    } else if (item.accompanied > 1 && item.checkin != 0){
                        c.push("<td><input type='button' class='btn btn-primary center-block' value='簽到一人' disabled></td>");
                    } else {
                        c.push("<td></td>");
                    }
                    if (item.checkin == 0)
                    {
                        c.push("<td><input type='button' class='btn btn-primary center-block checkin' value='簽到'></td></tr>");
                    } else
                    {
                        c.push("<td><input type='button' class='btn btn-primary center-block' value='簽到' disabled></td></tr>");
                    }
                    
                });
                $('#records_table').append(c.join(""));
            }
        });

    }

    $(document).ready(function () {
        $(document).on('click', '.checkin', function () {
            var url = window.location.origin + "\\Wedding\\Check";
            var row = $(this).closest("tr");    // Find the row
            var text = row.find(".phone").text(); // Find the text

            var result = {
                SN: row.find('.sn').text(),
                Name: row.find('.name').text(),
                Accompanied: row.find('.accompanied').text(),
                Seat: row.find('.seat').text()
            }
            console.log(result);
            var r = confirm("確定簽到嗎？");
            if (r == true) {
                $.ajax({
                    url: url,
                    method: "post",
                    data: { wedding: result, num: 0 },
                    success: function () {
                        alert('簽到成功');
                        row.find("input[type='button']").attr("disabled", true);
                    }
                });
            }
        });

        $(document).on('click', '.checkinone', function () {
            var url = window.location.origin + "\\Wedding\\Check";
            var row = $(this).closest("tr");    // Find the row
            var text = row.find(".phone").text(); // Find the text

            var result = {
                SN: row.find('.sn').text(),
                Name: row.find('.name').text(),
                Phone: row.find('.phone').text(),
                Accompanied: row.find('.accompanied').text(),
                Seat: row.find('.seat').text()
            }
            console.log(result);
            var r = confirm("確定只來一人嗎？");
            if (r == true) {
                $.ajax({
                    url: url,
                    method: "post",
                    data: { wedding: result, num: 1 },
                    success: function () {
                        alert('簽到一人成功');
                        row.find("input[type='button']").attr("disabled", true);
                    }
                });
            }   
        });
    });


</script>